.container {
    width: 1100px;
    margin: 0 auto;
}

.first_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}

.second_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}

.h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 264px;
}

.h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 46px;
}

p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

.text_container {
    max-width: 501px;
}